/* Josh Comeau CSS Reset */
*, *::before, *::after {
  box-sizing: border-box;
}
*:not(dialog) {
  margin: 0;
}
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}
#root, #__next {
  isolation: isolate;
}


/* My CSS */
:root {
  font-family: Arial, Helvetica, sans-serif;
}

form {
  padding: 56px;
  box-shadow: 4px 2px 12px rgb(192, 192, 192);
    margin: auto;
    margin-top: 8vh;
    width: 400px;
    display:flex;
    flex-direction: column;
    gap: 16px;
}

form > div {
  display: flex;
  flex-direction: column;
}

form div:has(input[required]) label::after {
  content: "*";
  color: red;
}

form button {
  margin-top: 16px;
  width: fit-content;
  margin-left: auto;
  padding: 2px 12px;
}

body > div {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  gap: 4px;
}

body > div p {
  border-radius: 8px;
  background-color: rgb(235, 235, 235);
  font-size: 14px;
}

input, select {
  padding: 4px 6px;
}

input:invalid {
  outline: 1px solid red;
}

input + span {
  color:rgb(255, 0, 0);
}

select {
  height: 36px;
}

input.valid {
  /* outline: 1px solid rgb(169, 220, 169); */
  background-color: rgb(225, 255, 225);
}

label:has(+ input.valid)::after {
  content: " ✔";
  color: green;
}